<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= "Edit " + article.title
        link(rel="stylesheet", href="http://192.168.43.206:3000/new-article.css")
        link(rel="stylesheet", href="http://192.168.43.206:3000/bootstrap/dist/css/bootstrap.min.css")
    body
        div.container-sm
            div
                navbar 
                    a(href=`http://192.168.43.206:3000`) Home
            div.heading
                h2= "Edit " + article.title
            div.form
                form(action=`/articles/edit/save/${article.id}`, method="POST")
                    div.form-group
                        label Title : 
                        input(type="text", name="title", value=article.title)
                    div.form-group
                        label Desctiption : 
                        input(type="text", name="description", value=article.description)
                    div.form-group
                        label Markdown : 
                        input(name="markdown", value=article.markdown)
                    div.form-group
                        button.btn.btn-success(type="submit") Submit

        