<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= article.title
        link(rel="stylesheet", href=`http://${domain}:3000/bootstrap/dist/css/bootstrap.min.css`)
        link(rel="stylesheet", href=`http://${domain}:3000/read-article.css`)
    body.p-0.m-0
        div.navbar
            navbar
                a(href=`http://${domain}:3000`) Home
        div.container
            div 
                h1= article.title
            div
                p= article.markdown